html
  head
    title= 'Autocannon GUI'
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
    link(href="//cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css", rel="stylesheet")
   
    style.
      #resultTable_previous ,#resultTable_next,#resultTable_info, label{
        color: wheat !important;
      }
      select ,input{
        background-color: black;
      }
      body {
        background-color: #1a1d1e;
        height: 100vh;
        color: wheat !important;
      }
      #resultTable th ,#resultTable{
        border-bottom: wheat 1px solid;
      }
      #resultTable tr{
        background-color: #1a1d1e !important;
      }
      .loading{
        position: fixed;
        width: 800px;
        height: 400px;
        top: 40%;
        z-index:5;
        display:none;
        left: 40%;
        margin-top: -100px; /* Negative half of height. */
        margin-left: -250px; /* Negative half of width. */
      }

  body
    img(src="https://c.tenor.com/PPk1OZ5cAnsAAAAd/canon-stuart-the-minion.gif",class="loading")
    div.container
      h1.header Autocannon GUI
      h4.header Note : Make sure to update config file before running the tests.
      h4.header Another Note :D : Run the website on google chrome not on firefox please,timeout issue.
      hr
      input(type="file",id="file")
      br
      button.btn.btn-primary(id='file_btn') Run tests
      hr
      br


    div.container
      script(src='//code.jquery.com/jquery-3.5.1.js')
      script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
      script(src='//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js')
      script.
        $(document).ready(function () {
          let datatable = false; 
          $('#file_btn').click(()=> {
            var file = document.getElementById("file").files[0];
            if (file) {
              var reader = new FileReader();
              reader.readAsText(file, "UTF-8");
              reader.onload = function (evt) {
                const data = evt.target.result;
                $('.loading').css("display","block");
                  if(!datatable){
                    datatable = $('#resultTable').DataTable({
                      "ajax": {
                        "url": "/data",
                        "data": JSON.parse(data),
                        "type": "POST",
                        "complete":()=>{
                          $('.loading').css("display","none")
                        }
                      },
                    });
                  }else{
                    datatable.ajax.reload();
                  }
              }
              reader.onerror = function (evt) {
                console.log("error")
              }
            }
          });
        });
      div#dataToShow
        table#resultTable.table.table-hover.datatables
          thead
            tr
              th Folder
              th Title
              th Url
              th Status Codes
              th errors
              th Start Time
              th Finish Time
          tfoot
              th Folder
              th Title
              th Url
              th Status Codes
              th errors
              th Start Time
              th Finish Time
